.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.center-form form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
}

.center-form Form label {
    font-weight: bold;
}

.center-form Form .form-control {
    margin-bottom: 20px;
    padding: 10px;
}

.center-form Form .btn {
    padding: 10px 0;
    border: none;
    color: #fff;
    /*background-color: #1877f2;*/
}

.center-form Form:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
    box-shadow: 0 2px 4px 4px rgba(51, 50, 66, 0.5);
}