.signup-center-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.signup-center-form form {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
  border-radius: 16px;
  padding: 40px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.signup-center-form Form h1 {
  font-weight: bold;
  font-family: cursive;
  font-size: 2rem;
  margin-bottom: 10px;
}

.signup-center-form Form label {
  font-weight: bold;
}

.signup-center-form Form input {
  margin-bottom: 20px;
  padding: 10px;
}

.signup-center-form Form input:focus {
  box-shadow: 0 2px 4px 4px darkcyan;
}

.show-password-checkbox {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  margin-top: -8px;
  margin-bottom: 12px;
  color: black;
}

.show-password-checkbox input {
  cursor: pointer;
}

.show-password-checkbox .show-password-label {
  margin-left: 5px;
  cursor: pointer;
  font-weight: 400;
}

.signup-center-form Form .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: dark; /* Indigo */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-center-form Form .btn:hover {
  color: white !important;
  background: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 2px 4px rgba(0, 139, 139, 0.9) !important;
  transform: translateY(-2px) !important;
}
