.center-form {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.center-form form {
    width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
  border-radius: 16px;
  padding: 40px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.center-form Form label {
  font-weight: bold;
}

.center-form Form .form-control {
  margin-bottom: 20px;
  padding: 10px;
}

.center-form Form .form-control:focus {
  box-shadow: 0 2px 4px 4px darkcyan;
}

.center-form Form .btn {
  /* padding: 10px 0;
  border: none;
  color: #fff; */
  /*background-color: #1877f2;*/
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: dark; /* Indigo */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center-form Form .btn:hover {
  background-color: #040330;
  box-shadow: 0 2px 4px 4px rgba(255, 255, 255, 0.5);
}

/* .center-form Form:hover {
  box-shadow: 0 2px 4px 4px darkcyan;
} */
 