/* .flex {
    margin-left: 260px;
    padding: 20px;
} */

.dashboard-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.dashboard-item {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    margin-top: 40px;
    text-align: center;
    padding: 5px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: cursive;
}

.dashboard-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: black;
}
.dashboard-card .dashboard-label {
    /* display: inline-block;
      padding: 15px 30px;
      background-color: #000000; Indigo */
    /* color: white;
      font-size: 16px;
      font-weight: 600;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.1); /* semi-transparent white */
    border-radius: 16px;
    /* padding: 20px; */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px;
    font-size: 20px;
}

.dashboard-card .dashboard-label:hover {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 139, 139, 0.5);
    transform: translateY(-2px);
}

.dashboard-card .dashboard-label input[type="file"] {
    display: none;
}

/* responsive styles */
@media (max-width: 768px) {
    .dashboard-card .dashboard-label {
        font-size: 18px;
    }
    .dashboard-card {
        margin: 20px;
    }
}

@media (max-width: 576px) {
    .dashboard-card .dashboard-label {
        font-size: 12px;
    }
}

