.row-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.recent-files {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.recent-file-table {
  width: fit-content !important;
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  flex-direction: column;
  padding: 20px;
  background-color: #111827;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-btn {
  width: fit-content !important;
  background-color: transparent;
  color: black;
  border: none;
  flex: content;
  padding: 10px;
  cursor: pointer;
}

.upload-btn:hover {
  font-weight: bold;
  color: black;
}

.delete-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  color: wheat !important;
  border: none !important;
  padding: 5px !important;
  cursor: pointer !important;
}

.delete-btn:hover {
  font-weight: bold !important;
  color: white !important;
  text-decoration: underline !important;
}

.Analyze-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  color: wheat !important;
  border: none !important;
  padding: 5px !important;
  cursor: pointer !important;
}

.Analyze-btn:hover {
  font-weight: bold !important;
  color: white !important;
  text-decoration: underline !important;
}
