.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.file-upload button {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: aqua;
}

.file-upload button:hover {
  box-shadow: 0 2px 4px 4px rgba(255, 255, 255, 0.5);
  background-color: #040330;
  color: white;
}

.upload-label {
  /* display: inline-block;
    padding: 15px 30px;
    background-color: #000000; Indigo */
  /* color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* .upload-label:hover {
    box-shadow: 0 2px 4px 4px rgba(200, 200, 201, 0.5);
  } */

.upload-label input[type="file"] {
  display: none;
}


