.footer {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 20px;
}

.footer-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  color: #9ca3af;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-icons a:hover {
  border-radius: 8px;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 2px 4px rgba(0, 139, 139, 0.5) !important;
  transform: translateY(-2px) !important;
  color: black;
}
