.footer-row-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 20px;
}

.footer-icons {
  color: black;
  display: inline-flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  color: black;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-icons a:hover {
  border-radius: 8px;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 2px 4px rgba(0, 139, 139, 0.5) !important;
  color: indigo !important;
}
