.App {
  background-image: url("./assets/images/excel_bg.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
}

.app-footer {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}