body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("D:/excel_analytics_platform_zidio/Frontend/src/assets/images/gray-white-pixelated.jpg");
  background-size: cover;
  backdrop-filter: blur(5px); */
  /* overflow-x: hidden; */
  background-color: rgba(0, 0, 0, 0.3) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}