.glare-hover {
  width: var(--gh-width);
  height: var(--gh-height);
  background: var(--gh-bg);
  border-radius: var(--gh-br);
  border: 1px solid var(--gh-border);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.glare-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--gh-angle),
      hsla(0, 0%, 0%, 0) 60%,
      var(--gh-rgba) 70%,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0) 100%);
  transition: var(--gh-duration) ease;
  background-size: var(--gh-size) var(--gh-size), 100% 100%;
  background-repeat: no-repeat;
  background-position: -100% -100%, 0 0;
}

.glare-hover:hover {
  cursor: pointer;
}

.glare-hover:hover::before {
  background-position: 100% 100%, 0 0;
}

.glare-hover--play-once::before {
  transition: none;
}

.glare-hover--play-once:hover::before {
  transition: var(--gh-duration) ease;
  background-position: 100% 100%, 0 0;
}

.glass-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.glass-card {
  background: rgba(15, 53, 68, 0.486);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 400px;
  width: 90%;
  color: #fff;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-card h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.glass-card h2 {
  font-family: cursive;
  color: wheat;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.glass-card p {
  color: rgb(194, 216, 206);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.action-btn {
  background-color: rgba(26, 119, 156, 0.5);
  border: none;
  color: black;
  padding: 10px 24px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.action-btn:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(73, 206, 206, 0.5);
  transform: translateY(-2px);
}
